<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap" rel="stylesheet">


<!-- <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Zen+Kurenaido&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100&family=Roboto+Mono&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=M+PLUS+1p:wght@100&family=Roboto+Mono&display=swap" rel="stylesheet"> -->

<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100&family=Quicksand:wght@500&family=Roboto+Mono&display=swap" rel="stylesheet">