.wru-bg {
    background: #282828;
    border-color: #282828;
}

.wru-text {
    font-family: 'Roboto Mono', monospace;
    color: dimgrey;
}

.wru-header {
    font-family: 'M PLUS 1p', sans-serif;
}

.wru-icon {
    font-size: 20px;
}