.wru-bg {
    background: #282828;
    border-color: #282828;
}

.wru-text {
    font-family: 'Roboto Mono', monospace;
    color: dimgrey;
}

.wru-header {
    font-family: 'Quicksand', sans-serif;    
}

.wru-icon {
    font-size: 20px;
}

.wru-entry-header {
    font-family: 'Spartan', sans-serif;
    color: rgb(25, 122, 106);
}

.wru-cursive {
    font-family: 'Dancing Script', cursive;    
}

.wru-date {
    font-family: 'Spartan', sans-serif;
}