
{% extends 'wru/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">

    {% for feeling in feelings %}
    <div class="col">
      <div class="card h-100">        
        <div class="card-body">
          <h4 class="card-title wru-header"><i class="{{ feeling.icon }}"></i> {{ feeling.name | title }}</h4>                    
          <p class="card-text wru-text text-muted">
            Entries: <a href="{% url 'wru:feeling-entries' feeling_pk=feeling.pk %}">{{ feeling.entries.count }}</a><br/>          
          </p>          
          
        </div>
        <div class="card-footer">
          <small class="text-muted"><i class="las la-calendar-alt"></i> {{ feeling.created_at }}</small>
          <div class="float-end wru-icon">
            <a href="{% url 'wru:feeling-details' feeling.pk %}"><i class="las la-arrow-circle-right"></i></a>
            <a href="{% url 'wru:feeling-update' feeling.pk %}"><i class="las la-edit"></i></a>
            <a href="{% url 'wru:feeling-delete' feeling.pk %}"><i class="las la-trash"></i></a>  
          </div>
        </div>
      </div>
    </div>    
  {% endfor %}

</div>
<br/>
{% include "wru/generic/pagination.html" %}

{% endblock %}

