
{% extends 'wru/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div>
    {% for feeling in feelings %}
    <div class="card">
        <div class="card-header">
            <h3><i class="las la-key"></i> feeling</h3>
        </div>
        <div class="card-body">
            <strong>Name:</strong> <a href="{% url 'wru:feeling-details' feeling.pk %}">{{ feeling.name }}</a>
            <br/>
            <hr/>
            <a class="btn btn-primary" href="{% url 'wru:feeling-update' feeling.pk %}">Edit</a>
            <a class="btn btn-danger" href="{% url 'wru:feeling-delete' feeling.pk %}">Delete</a>
        </div>
    </div>
    <br/>
    {% endfor %}
</div>
{% endblock %}

