
{% extends 'wru/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for place in places %}
    <div class="col">
      <div class="card h-100">
        {% if place.image %}
        <img src="{{ place.image }}" height="200" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
          <h4 class="card-title wru-header"><i class="{{ place.icon }}"></i> {{ place.name | title }}</h4>                    
          <p class="card-text wru-text text-muted">
            Entries: <a href="{% url 'wru:place-entries' place_pk=place.pk %}">{{ place.entries.count }}</a><br/>
          {% if place.url %}
            URL: <a href="{{ place.url }}" target="_blank">{{ place.url }}</a><br/>
          {% endif %}
          {% if place.desc %}
            Desc: {{ place.desc }}<br/>
           {% endif %}
          </p>          
          
        </div>
        <div class="card-footer">
          <small class="text-muted"><i class="las la-calendar-alt"></i> {{ place.created_at }}</small>
          <div class="float-end wru-icon">
            <a href="{% url 'wru:place-details' place.pk %}"><i class="las la-arrow-circle-right"></i></a>
            <a href="{% url 'wru:place-update' place.pk %}"><i class="las la-edit"></i></a>
            <a href="{% url 'wru:place-delete' place.pk %}"><i class="las la-trash"></i></a>  
          </div>
        </div>
      </div>
    </div>    
  {% endfor %}

</div>
<br/>
{% include "wru/generic/pagination.html" %}

{% endblock %}




